/*==============================================================
 For pages
 ============================================================== */

#main-wrapper {
  width: 100%;
}

.container-fluid {
  padding: 0 30px 25px 30px;
}

/*******************
 page title
*******************/

.page-titles {
  padding-bottom: 20px;
}
