/*******************
Main sidebar
******************/

.left-sidebar {
  position: fixed;
  width: 240px;
  height: 100%;
  top: 0px;
  z-index: 20;
  padding-top: 20px;
  background: $sidebar;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}

.fix-sidebar .left-sidebar {
  position: fixed;
}

/*******************
sidebar footer
******************/

/*
.sidebar-footer {
  position: fixed;
  z-index: 10;
  bottom: 0px;
  left: 0px;
  transition: 0.2s ease-out;
  width: 240px;
  background: $sidebar;
  border-top: 1px solid $border;
  a {
    padding: 15px;
    width: 33.333337%;
    float: left;
    text-align: center;
    font-size: 18px;
  }
}
*/

/*******************
sidebar navigation
******************/
/*
.scroll-sidebar {
  padding-bottom: 60px;

}

.collapse.in {
  display: block;
}

.sidebar-nav {
  background: $sidebar;
  padding: 15px;
  ul {
    margin: 0px;
    padding: 0px;
    li {
      list-style: none;
      a {
        color: $sidebar-text;
        padding: 8px 35px 8px 15px;
        display: block;
        font-size: 15px;
        border-radius: $radius;
        white-space: nowrap;
        &.router-link-active,
        &:hover {
          color: $themecolor;
          i {
            color: $themecolor;
          }
        }
        &.router-link-active {
          font-weight: 400;
        }
      }
      ul {
        padding-left: 5px;
        padding-top: 10px;
        li a {
          padding: 10px 35px 10px 15px;
        }
        ul {
          padding-left: 15px;

        }
      }
      &.nav-small-cap {
        font-size: 12px;
        margin-bottom: 0px;
        padding: 14px 14px 14px 20px;
        color: $dark;
        font-weight: 500;
      }
      &.nav-devider {
        height: 1px;
        background: $border;
        display: block;
        margin: 20px 0;
      }
    }
  }
  > ul > li {
    margin-bottom: 10px;
    &.active > a {
      color: $themecolor;
      font-weight: 500;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      i {
        color: $themecolor;
      }
    }
  }
  > ul > li > a {

    i {
      width: 27px;
      height: 27px;
      font-size: 21px;
      line-height: 27px;
      display: inline-block;
      vertical-align: middle;
      color: $sidebar-icons;
    }
    .label {
      float: right;
      margin-top: 6px;
    }
  }
}

.sidebar-nav .has-arrow {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: .55em;
    height: .55em;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: $sidebar-text;
    right: 1em;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
    -ms-transform: rotate(-45deg) translate(0, -50%);
    -o-transform: rotate(-45deg) translate(0, -50%);
    transform: rotate(-45deg) translate(0, -50%);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    top: 47%;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
  }
}

.sidebar-nav .active > .has-arrow::after,
.sidebar-nav li > .has-arrow.active::after,
.sidebar-nav .has-arrow[aria-expanded="true"]::after {
  -webkit-transform: rotate(-135deg) translate(0, -50%);
  -ms-transform: rotate(-135deg) translate(0, -50%);
  -o-transform: rotate(-135deg) translate(0, -50%);
  top: 45%;
  width: .58em;
  transform: rotate(-135deg) translate(0, -50%);
}
*/

/****************
When click on sidebar toggler and also for tablet
*****************/
/*
.sidebar-nav .navigation li > a, .off-canvas-sidebar .navigation li > a {
  display: block;
  overflow: hidden;
  line-height: 2rem;
  padding: 10px 30px 10px 14px;
  margin: 5px 0;
  background-color: transparent;
  color: #000;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
*/

.main_sidebar {
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
  will-change: left, width;
  box-shadow: inset -1px 0 10px rgba(0, 0, 0, 0.4);
  background: $sidebar;
}

.main_sidebar:after {
  content: '';
  background-color: #253238;
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
}

.main_sidebar ul {
  list-style: none;
  padding-left: 58px;
}

.main_sidebar ul li {
  padding: 10px;
}

.main_sidebar ul li a {
  color: #fff;
  display: block;
}

.main_sidebar ul li i {
  float: left;
  color: grey;
  margin-left: -58px;
  font-size: 24px;
  padding-left: 7px;
}

.main_sidebar ul li:hover {
  background: #167696;
}

.main_sidebar ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.main_sidebar ul li:hover i {
  color: #fff;
}

.main_sidebar ul li.active {
  background: #0f4698;
}

.main_sidebar ul li.active i {
  color: #fff;
}

.main_sidebar ul li.active:hover {
  background: #167696;
}

.main_sidebar ul li.active:hover i {
  color: #fff;
}

.main {
  float: right;
  color: #fff;
  display: block;
  width: 100%;
  background: red;
  min-height: 100vh;
}

