<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn">
            <img src="assets/img/login/icon.svg" id="icon" alt="User Icon"/>
        </div>
        <login-form></login-form>
        <input type="submit" class="fadeIn" value="Log In" (click)="login()">
        <div id="formFooter">
            <a class="underlineHover" routerLink="/signup">Forgot Password?</a> /
            <a class="underlineHover" routerLink="/signup">Create Account</a>
        </div>
    </div>
</div>