<section id="contact">
    <div class="container">
        <h3 class="text-center text-uppercase">contact us</h3>
        <p class="text-center w-75 m-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum
            purus at sem ornare sodales. Morbi leo nulla, pharetra vel felis nec, ullamcorper condimentum quam.</p>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                        <h4 class="text-uppercase mb-5">call us</h4>
                        <p>+91-94646*****,+91-92054*****</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                        <h4 class="text-uppercase mb-5">office loaction</h4>
                        <address>Sector 48, Sohna Road, Gurugram</address>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                        <h4 class="text-uppercase mb-5">email</h4>
                        <p>rhtvma@*******.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>