<!--<nav class="navbar navbar-dark bg-dark mb-5">-->
<section id="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" routerLink="/home">Angular & Bootstrap</a>
        <div class="navbar-expand mr-auto">
            <!--<div class="navbar-nav">-->
            <!--<a class="nav-item nav-link active" routerLink="/home">Home</a>-->
            <!--<a class="nav-item nav-link" routerLink="/about">About</a>-->
            <!--<a class="nav-item nav-link" routerLink="/contact">Contact</a>-->
            <!--</div>-->
        </div>
        <div class="navbar-expand ml-auto navbar-nav">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="https://github.com/rhtvma" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
                <a class="nav-item nav-link" href="https://twitter.com/rhtvma" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </div>
    </nav>
</section>

<!--&lt;!&ndash; Navigation &ndash;&gt;-->
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">-->
<!--<div class="container">-->
<!--<a class="navbar-brand" href="#">Start Bootstrap</a>-->
<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"-->
<!--aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
<!--<span class="navbar-toggler-icon"></span>-->
<!--</button>-->
<!--<div class="collapse navbar-collapse" id="navbarResponsive">-->
<!--<ul class="navbar-nav ml-auto">-->
<!--<li class="nav-item active">-->
<!--<a class="nav-link" routerLink="/home">Home-->
<!--<span class="sr-only">(current)</span>-->
<!--</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" routerLink="/about">About</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" routerLink="/contact">Contact</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->
