<div id="header" class="nav-collapse nav-solid">
  <div class="row clearfix">
      <div class="col-1">

          <!--Logo-->
          <div id="logo">

              <!--Logo that is shown on the banner-->
             <!-- <img src="../assets/images/logo5.png" id="banner-logo" alt="Landing Page"/>
              End of Banner Logo-->

              <!--The Logo that is shown on the sticky Navigation Bar-->
              <!--<img src="../assets/images/logo2.png" id="navigation-logo" alt="Landing Page"/>
              End of Navigation Logo-->
              
             
          </div>
          <!--End of Logo-->
            
         
          <!--Main Navigation-->
          
        

<nav id="nav-main">
<ul>
<li>
    <a [routerLink]="['/Home']" >Home</a>
</li>
<li>
    <a [routerLink]="['/login']" >Login</a>
</li>
<li>
    <a [routerLink]="['/register']" >Register</a>
</li>
<li>
    <a [routerLink]="['/about']" >About-Us</a>
</li>
</ul>
</nav>

<div id="nav-trigger"><span></span></div>
<nav id="nav-mobile"></nav>