<form novalidate
      [formGroup]="signupForm">
    <div class="form-row">
        <div class="form-group col-md-6"
             [ngClass]="{
        'has-danger': firstname.invalid && (firstname.dirty || firstname.touched),
        'has-success': firstname.valid && (firstname.dirty || firstname.touched)}">
            <input type="text"
                   id="firstname"
                   class="fadeIn"
                   placeholder="firstname"
                   formControlName="firstname"
                   required>
            <div class="form-control-feedback"
                 *ngIf="firstname.errors && (firstname.dirty || firstname.touched)">
                <p *ngIf="firstname.errors.required">firstname is required</p>
                <p *ngIf="firstname.errors.pattern">The username must contain at least the @ character</p>
            </div>
        </div>
        <div class="form-group col-md-6"
             [ngClass]="{
        'has-danger': lastname.invalid && (lastname.dirty || lastname.touched),
        'has-success': lastname.valid && (lastname.dirty || lastname.touched)}">
            <input type="text"
                   id="lastname"
                   class="fadeIn"
                   placeholder="lastname"
                   formControlName="lastname"
                   required>
            <div class="form-control-feedback"
                 *ngIf="lastname.errors && (lastname.dirty || lastname.touched)">
                <p *ngIf="lastname.errors.required">lastname is required</p>
                <p *ngIf="lastname.errors.pattern">The lastname must contain at least the @ character</p>
            </div>
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-6"
             [ngClass]="{
        'has-danger': username.invalid && (username.dirty || username.touched),
        'has-success': username.valid && (username.dirty || username.touched)}">
            <input type="text"
                   id="username"
                   class="fadeIn"
                   placeholder="username"
                   formControlName="username"
                   required>
            <div class="form-control-feedback"
                 *ngIf="username.errors && (username.dirty || username.touched)">
                <p *ngIf="username.errors.required">Username is required</p>
                <p *ngIf="username.errors.pattern">The username address must contain at least the @ character</p>
            </div>
        </div>
        <div class="form-group col-md-6"
             [ngClass]="{
        'has-danger': email.invalid && (email.dirty || email.touched),
        'has-success': email.valid && (email.dirty || email.touched)}">
            <input type="text"
                   id="login"
                   class="fadeIn"
                   placeholder="email"
                   formControlName="email"
                   required>
            <div class="form-control-feedback"
                 *ngIf="email.errors && (email.dirty || email.touched)">
                <p *ngIf="email.errors.required">Email is required</p>
                <p *ngIf="email.errors.pattern">The email address must contain at least the @ character</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6"
             [ngClass]=" {
        'has-danger': password.invalid && (password.dirty || password.touched),
        'has-success': password.valid && (password.dirty || password.touched) }">
            <input type="password"
                   class="fadeIn"
                   name="password"
                   id="password"
                   placeholder="password"
                   formControlName="password"
                   required>
            <div class="form-control-feedback"
                 *ngIf="password.errors && (password.dirty || password.touched)">
                <p *ngIf="password.errors.required">Password is required</p>
                <p *ngIf="password.errors.minlength">Password must be 5 characters long, we need another
                    {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}}
                    characters </p>
            </div>
        </div>
        <div class="form-group col-md-6"
             [ngClass]=" {
        'has-danger': cpassword.invalid && (cpassword.dirty || cpassword.touched),
        'has-success': cpassword.valid && (cpassword.dirty || cpassword.touched) }">
            <input type="password"
                   class="fadeIn"
                   name="cpassword"
                   id="cpassword"
                   placeholder="Confirm password"
                   formControlName="cpassword"
                   required>
            <div class="form-control-feedback"
                 *ngIf="cpassword.errors && (cpassword.dirty || cpassword.touched)">
                <p *ngIf="cpassword.errors.required">Confirm Password is required</p>
                <p *ngIf="cpassword.errors.minlength">Confirm Password must be 5 characters long, we need another
                    {{cpassword.errors.minlength.requiredLength - cpassword.errors.minlength.actualLength}}
                    characters </p>
            </div>
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="number"
                   class="fadeIn"
                   name="mobile"
                   id="mobile"
                   placeholder="mobile - (Optional)"
                   formControlName="mobile"
                   >
        </div>
        <div class="form-group col-md-6">
            <select id="sex"
                    class="fadeIn">
                <option selected>Choose you sex</option>
                <option>male</option>
                <option>female</option>
            </select>
        </div>
    </div>
</form>










